
.orderBtn {
    width: fit-content;
    background-color: var(--co-main);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    border-radius: 20px;
    transition: ease-out 0.5s;
}

.orderBtn:hover {
    scale: 1.1;
    cursor: pointer;
}

.orderText {
    font-weight: 600;
    color: white;
    user-select: none;
    font-size: 18px;
}
